* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #003973; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
h2 {
  color: red;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

lottie-player {
  margin-right: 50px;
}
.existing {
  padding: 30px 40px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  margin-right: 20px;
  margin-top:40px;
  margin-bottom: 40px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
}

.existing p {
  margin-bottom: 15px;
  font-size: 22px;
}

.existing label {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 18px;
}

.existing a {
  background-color: #38d9a9;
  border: 2px solid #38d9a9;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  padding: 8px 16px;
  margin-top: 10px;
  width: 100%;
}
