<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Wearing Mask</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/wearingmask.css')}}"
    />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
  <body>
    <section>
      <div class="nav-bar">
        <div>
          <lottie-player
            src="https://assets3.lottiefiles.com/packages/lf20_mpapwxrc.json"
            background="transparent"
            speed="1"
            style="width: 100px; height: 100px"
            loop
            autoplay
          ></lottie-player>
        </div>
        <div><h2>Face Mask detection</h2></div>
        <div><a href="">Home</a></div>
      </div>
    </section>
    <section>
      <div class="message">
        <div>
          <lottie-player
            src="https://assets8.lottiefiles.com/packages/lf20_rhxi4oyk.json"
            background="transparent"
            speed="1"
            style="width: 300px; height: 300px"
            loop
            autoplay
          ></lottie-player>
        </div>
        <div class="user-msg">
          <h3>Message ✉️</h3>
          <p>Hello User 😊</p>
          <p>You Are Wearing 😷</p>
          <p>
            Thanks For The Step Taken To Reduce The Spread Of Various
            Respiratory Diseases 🫱🏽‍🫲🏽
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="user-img">
        <img src="static\css\webacpture.jpg" alt="User Image" />
      </div>
    </section>
  </body>
</html>
