<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="wrongpwd.css" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="heading">
        <h2>Forgot Password</h2>
      </div>
      <div class="main">
        <div>
          <lottie-player
            src="https://assets2.lottiefiles.com/packages/lf20_mdhnmscc.json"
            background="transparent"
            speed="1"
            style="width: 300px; height: 300px"
            loop
            autoplay
          ></lottie-player>
        </div>
        <div class="content">
          <p>Password Doesnot Match.</p>
          <p></p>
          <p>Please Change the password</p>
        </div>
        <div>
          <form action="" method="post" id="form">
            <div>
              <label>Username</label>
              <input
                type="text"
                name="username"
                placeholder="Username"
                required
              />
            </div>
            <div>
              <label>New Password</label>
              <input
                type="password"
                name="pwd"
                placeholder="New Password"
                required
              />
            </div>
            <input type="submit" value="Update Password" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
